[package]
name = "grcov"
version = "0.8.4"
authors = ["Marco Castelluccio <mcastelluccio@mozilla.com>"]
description = "Rust tool to collect and aggregate code coverage data for multiple source files"
license = "MPL-2.0"
documentation = "https://github.com/mozilla/grcov"
homepage = "https://github.com/mozilla/grcov"
repository = "https://github.com/mozilla/grcov"
readme = "README.md"
keywords = ["coverage"]
categories = ["command-line-utilities", "development-tools", "development-tools::testing"]
exclude = [
    "test/*",
    "tests/*",
    "benches/*",
    ".travis.yml",
    "appveyor.yml",
    ".gitignore",
    ".dockerignore",
    ".pre-commit-config.yaml",
    "CODE_OF_CONDUCT.md",
]
edition = "2018"

[features]
default = ["deflate-zlib", "demangle-no-swift"]
tc = ["tcmalloc"]
deflate = ["zip/deflate"]
deflate-miniz = ["zip/deflate-miniz"]
deflate-zlib = ["zip/deflate-zlib"]
demangle-no-swift = ["symbolic-demangle/cpp", "symbolic-demangle/msvc", "symbolic-demangle/rust"]
demangle-with-swift = [
    "symbolic-demangle/cpp",
    "symbolic-demangle/msvc",
    "symbolic-demangle/rust",
    "symbolic-demangle/swift",
]

[badges]
appveyor = { repository = "marco-c/grcov" }
travis-ci = { repository = "mozilla/grcov" }
codecov = { repository = "mozilla/grcov" }

[dependencies]
cargo-binutils = "0.3"
chrono = { version = "0.4", features = ["serde"] }
crossbeam = "0.8"
flate2 = "1.0"
fomat-macros = "0.3"
globset = "0.4"
is_executable = "1.0"
lazy_static = "1.4"
log = "0.4"
md-5 = "0.9"
num_cpus = "1.13"
quick-xml = "0.22"
rayon = "1.5"
regex = "1.5"
rustc-hash = "1.1"
semver = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
simplelog = "0.10"
smallvec = "1.6"
structopt = "0.3.22"
symbolic-common = "8.2"
symbolic-demangle = { version = "8.3", default-features = false }
tempfile = "3.2"
tera = "1.15"
uuid = { version = "0.8", features = ["v4"] }
walkdir = "2.3"
zip = { version = "0.5", default-features = false }

[dev-dependencies]
pretty_assertions = "0.7"

[profile.release]
lto = "thin"

[target.'cfg(unix)'.dependencies]
#tcmalloc = { version = "0.3", features = ["bundled"] }
tcmalloc = { version = "0.3", optional = true }
